<h1>Song List</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
  </tr>
  <% @songs.each do |song| %>
    <tr>
      <td><%= link_to song.title, song_path(song) %></td>
      <td><%= song.artist %></td>
    </tr>
  <% end %>
</table>
